
    <a href="" class="dropdown-toggle" data-toggle="dropdown">                              <!-- Menu Toggle Button -->
        <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">          <!-- The user image in the navbar-->
        <span class="hidden-xs">{{ usuario.nombre }}</span>                                 <!-- hidden-xs hides the username on small devices so only the image appears. -->
    </a>

    <ul class="dropdown-menu">

        <li class="user-header">                                                        <!-- The user image in the menu -->
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            <p>
                {{ usuario.nombre }} - Web Developer
                <small>Member since Nov. 2012</small>
            </p>
        </li>

        <li class="user-body">                                              <!-- Menu Body -->
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="">Friends</a>
                </div>
            </div>                                                          <!-- /.row -->
        </li>

        <li class="user-footer">                                            <!-- Menu Footer-->
            <div class="pull-left">
                <a href="" class="btn btn-default btn-flat">Perfil</a>
            </div>
            <div class="pull-right">
                <a href="../public" class="btn btn-default btn-flat">Salir</a>
            </div>
        </li>

    </ul>
